.env
.env.*
!.env.example

__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
input/txt
*.egg-info/

#data/processed/
data/milvus_statutegraph/
data/runs/
*.db

.ipynb_checkpoints/

ablation_study/*/output/*
!ablation_study/*/output/.gitkeep

.claude/skills/
